.card{
    display: flex;
    flex-direction:column;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 3px 1px 7px $DesaturatedBlue;
    
    img{
        height: 10rem;
        width: 20.375rem;
        border-top-left-radius: 1rem;
        border-top-right-radius:1rem;
        margin-bottom: 2.375rem;
        
        @include breakpoint-up(large){
            width: 28.1875rem;
            height: 13.8125rem;
        }
    }
    
    h1{
        align-self: center;
        font-size:1.0625rem;
        color: $DarkBlue;
        font-weight: $WHigh;
        margin-bottom: 1.75rem;

        @include breakpoint-up(large){
            font-size: 1.3125rem;
            margin-bottom: 1.5625rem;
        }
    }

    p{
        font-size: $FontSizeP;
        color: $DesaturatedBlue;
        font-weight: $WSmall;
        align-self:center;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-bottom: 1.6875rem;
        
        @include breakpoint-up(large){
            font-size: 0.6875rem;
        }
    }
    .scontainer{
        display: flex;
        width:17.4375rem;
        height:4.9375rem;
        align-items: center;
        background:$VeryPaleBlue;
        align-self: center;
        border-radius:1rem;

        @include breakpoint-up(large){
            width: 22.0625rem;
            height: 6rem;
        }
        
        svg{
            height:3rem;
            width: 3rem;
            margin-left: 1rem;

            @include breakpoint-up(large){
                margin-left: 1.5rem;   
            }
        }
        .content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            height:100%;
            padding: 0%;
            margin: 0%;
            margin-left: 1.1875rem;
            @include breakpoint-up(large){
                margin-left: 1.3125rem;
            }
            
            h3{
                font-size:0.6375rem;
                color:$DarkBlue;
                margin-bottom: 0.75rem;

                @include breakpoint-up(large){
                    font-size: 0.625rem;
                }
            }
            .cost{
                color: $DesaturatedBlue;
                margin: 0%;
                
                @include breakpoint-up(large){
                    font-size: 0.6875rem;
                }
            }

        }
        a{
            font-size: 0.625rem;
            text-decoration: underline;
            font-weight: 800;
            color: $BrightBlue;
            margin-left: 3.0625rem;
            margin-right: 0.875rem;
            @include breakpoint-up(large) {
                margin-left: 5.8125rem;
                margin-right: 1.5rem;
                
            }
        }
        
    }
    .btn{
        align-self: center;
        width: 17.4375rem;
        height:3rem;
        margin-top: 1.4375rem;
        background: $BrightBlue;
        border-radius: 1rem;
        border:none;
        color: $VeryPaleBlue;
        font-size: 0.75rem;
        font-weight: $WHigh;
        box-shadow: 0px 20px 10px 0px $PaleBlue;
        
        @include breakpoint-up(large){
            margin-top: 2.0625rem;
            font-size: 0.625rem;
        }
    }
    .text{
        margin-top: 1.625rem;
        align-self: center;
        color: $DesaturatedBlue;
        font-size: 0.75rem;

        @include breakpoint-up(large){
            margin-top:2.3125rem;
        }
    }
    
}